@font-face
    font-family 'Mukta-M'
    src url('../fonts/Mukta-Medium.ttf')

@font-face
    font-family 'Mukta-R'
    src url('../fonts/Mukta-Regular.ttf')

body
    margin 0 auto
    overflow hidden

main
    z-index 2

main h1
    width 80%
    margin 0
    padding 0
    position absolute
    left 50%
    top 30%
    transform translate(-50%, -50%)
    font-size 5rem
    font-family 'Mukta-M', sans-serif
    color white
    text-align center
    user-select none
    line-height 100%
    text-transform uppercase
    will-change transform

.repositionH1
    animation reposition 2.5s linear forwards

@keyframes reposition 
  0% 
    transform translate(-50%, -50%)  
  100% 
    transform translate(-50%, -280px)
    font-size 3rem

.continueTo
    position absolute
    left 50%
    top 52%
    transform translate(-50%, -50%)
    height 6%
    cursor pointer
    will-change transform

.continueTo button
    font-family 'Mukta-M', sans-serif
    color white
    border none
    background none
    outline none
    text-transform uppercase
    cursor pointer

.buttonIsGone
    animation fadeButton 1.5s ease-in 1 forwards

@keyframes fadeButton 
  0% 
    opacity 1

  50% 
    opacity 0.5

  100% 
    opacity 0
    transform translate(-50%, 100%)
    z-index -1

.arrow
    position relative
    left 48%
    animation light 2s ease-in infinite normal

@keyframes light 
  0% 
    opacity 0

  50% 
    opacity 1

  100% 
    opacity 0

.arrow .topA
    position absolute
    background white
    height 30px
    width 2px
    border-radius 50px

.arrow .leftA
    position absolute
    background #fff
    top 29px
    height 13px
    width 2px
    transform rotate(140deg)
    transform-origin top
    border-radius 50px

.arrow .rightA
    position absolute
    top 29px
    background #fff
    height 13px
    width 2px
    transform rotate(-140deg)
    transform-origin top
    border-radius 50px

@media (max-width 500px) and (min-height 200px) 
    
    main h1
        font-size 3rem
    

    