body{
  margin: 0 auto;
  overflow: hidden;
  cursor: none;
}

main{ height: 0px;}

main h1{
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-family: 'Mukta', sans-serif;
  color: white;
  TEXT-ALIGN: center;
  user-select: none;
  line-height: 100%;
}

main .contact{
  display: flex;
  width: 30%;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  user-select: none;
}

main .textContainer{
  margin: 0 auto;
  height: 40px;
  width: 546px;
  position: relative;
  top: 22vh;
}

main p{
  position: absolute;
  color: white;
  transform: translate(0%, 0%);
  font-family: 'Mukta', sans-serif;
  animation: textmoving 5s linear infinite;
  user-select: none;
}

@keyframes textmoving{
  0%     { transform: translate(0%, 0%);  }
  50%    { transform: translate(116%, 0%); }
  100%   { transform: translate(0%, 0%); }
}

.contact img{
  width: 64px;
  height: 64px;
}

a{
  font-family: 'Mukta', sans-serif;
  cursor: none;
}